# Системные файлы (macOS, Windows, и т.д.)
.DS_Store
Thumbs.db

# Файлы, сгенерированные IDE
.idea/
*.iml
*.ipr
*.iws

# Лог-файлы
*.log

# Компилированные файлы
*.class
*.jar
*.war
*.ear

# Каталоги с зависимостями и сборкой
target/
build/

# Файлы Maven
*.pom
.mvn/wrapper/

# Файлы для настройки окружений (например, Spring Boot)
*.env
*.db

# Конфигурационные файлы IDE
.vscode/
.settings/

# Файлы конфигурации IntelliJ IDEA
.idea/

# Платформо-зависимые файлы
*.swp

# Прочие файлы и каталоги, которые не должны попадать в репозиторий
*.bak
*.tmp
